<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memory">

    <application
        android:allowBackup="true"
        android:icon="@drawable/card_back3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/card_back3"
        android:supportsRtl="true"
        android:theme="@style/LightAppTheme">
        <activity android:name=".StatisticsActivity"/>

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BaseFullscreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigureGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MusicService"
            android:enabled="true" />
    </application>

</manifest>